<!-- Generated template for the NameShakeItemComponent component -->
<ion-item [ngClass]="{firstplace:showRank && person.rank===1}">      
  <ion-avatar item-left>
    <img [src]="thumbUrl(person)" alt="{{initials(person)}}" item-left>
  </ion-avatar>
  <span *ngIf="showRank">
    {{person.rank}}.
  </span>
  {{person.name.first}} {{person.name.last}}
  <ion-note>{{person.email}}</ion-note>
  <img 
    *ngIf="showRank && person.rank<=3" 
    src="assets/place/{{person.rank}}.png" 
    width="40" height="40" item-right>
</ion-item>      
