<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Name Shaker
      <p class="subtitle">{{currentGroup}}</p>
      <div class="custom-spinner-box"></div>
    </ion-title>
    <ion-buttons end>
      <button (click)="randomizeOrder()">
        Shake It!
     </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let person of people">
      <name-shake-item [showRank]="showRank" [person]="person"></name-shake-item>
    </ion-list>
</ion-content>
