<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngFor="let group of groups">
     <button menuClose ion-item (click)="setGroup(group)">
        <ion-icon name="people"></ion-icon> {{group}}
     </button>
    </ion-list>
     <button menuClose ion-item (click)="exportGroups()">
         <ion-icon name="cloud-upload"></ion-icon> Export My Groups
     </button>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
